@font-face {
    font-family: MyCustomFont;
    src: url('../font/Montserrat-VariableFont_wght.ttf');
  }


.text-field{
    border-radius: 10px;
    padding-left: 5px;
    font-family: MyCustomFont;
    font-size: 18px;
    margin-top: 20px;
    width: 300px;
}


.add-particulars{
    margin-bottom: 100px;
    margin-right: 10px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: fit-content;
}

.container-add{
    margin: 50px;
}

.row{
    display: flex;
}

.form-select label{
    margin-left: 10px;
}

.form-contain label{
    margin-left: 0;
}