@font-face {
    font-family: MyCustomFont;
    src: url('../font/Montserrat-VariableFont_wght.ttf');
}


body {
    font-family: MyCustomFont;
    align-items: center;
    margin: 0;
}

.navigation {
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    /* Remove the margin */
    background-color: #9cfdbc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.navigation-link {
    float: right;
    margin-right: 20px;
    margin-top: 25px;
}

.head-logo {
    max-width: fit-content;
    max-height: fit-content;
    width: 70px;
}

a {
    margin-right: 20px;
    margin-bottom: 10px;
    font-family: MyCustomFont;
    font-weight: 600;
    color: #18272F;
    text-decoration: none;
}




/* Footer Styles */
footer {
  
  background-color: #9cfdbc;
  padding: 30px 0;
  bottom: 0;
  left: 0;
  width: 100%;
}


.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  
}

.footer-logo{
    margin-left: 20px;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  display: inline-block;
  margin-right: 15px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #333;
}

.footer-social{
    margin-right: 30px;
}

.footer-social ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-social ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-social ul li a {
  color: #333;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-links,
  .footer-social {
    margin-top: 20px;
  }

  .footer-logo {
    margin-bottom: 20px;
  }
}



/* Add the remaining styles for the content and admin sections */


/* Add custom styles for the construction contractors list */
.contractors-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;

}

.contractors-container {
    text-align: center;
}

.contractors-list li {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 10px;
}

@media screen and (max-width: 600px) {
    .contractors-list li {
      font-size: 10px;
    }
    .contractors-container {
        text-align: center;
        margin-top: 170px;
    }
  }



.content {
    margin-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

/****Admin Add Services****/

.appliances-services {
    margin-right: 10px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: fit-content;

}

.appliances-electronics {
    display: flex;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 50px;
}

.add-btn {
    border-radius: 10px;
    padding-left: 5px;
    font-family: MyCustomFont;
    font-size: 18px;
}

.title-add {
    margin-top: 100px;
    margin-left: 50px;
}

.add-typebtn {
    background-color: #9cfdbc;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 100px;
    margin-top: 20px;
    float: right;
    border-radius: 10px;
    padding-left: 5px;
    font-family: MyCustomFont;
    font-size: 18px;
    transition: transform 0.2s ease;
    padding: 10px;

}



.add-typebtn:active,
.add-typebtn:focus {
    transform: scale(0.95);
    /* Add any additional styles for the focus or active state */
}


.add-typebtn:active:active,
.add-typebtn:focus:active {
    transform: scale(1);
}

.add-services {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: fit-content;
}

ul.list-services {
    list-style-type: none;
}

.title-list {
    margin-left: 45px;
}

.choose-services {
    margin-left: 20px;
    margin-top: 50px;
    margin-right: 20px;
}

.add-servicesbtn {
    margin-left: 50px;
    margin-top: 200px;

}

.show-services {
    background-color: #9cfdbc;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 5px;
    font-family: MyCustomFont;
    font-size: 18px;
    transition: transform 0.2s ease;
    padding: 10px;
}

.show-services:active,
.show-services:focus {
    transform: scale(0.95);
    /* Add any additional styles for the focus or active state */
}


.show-services:active:active,
.show-services:focus:active {
    transform: scale(1);
}

.update-btn {
    margin-left: 20px;
    font-family: MyCustomFont;
    background-color: #9cfdbc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding-left: 5px;
    font-family: MyCustomFont;
    font-size: 18px;
    transition: transform 0.2s ease;
    padding: 10px;
}


.update-btn:active,
.update-btn:focus {
    transform: scale(0.95);
    /* Add any additional styles for the focus or active state */
}


.update-btn:active:active,
.update-btn:focus:active {
    transform: scale(1);
}