

    .container {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 130px;
    }

    .search-filter{
      width: 100%;
      padding: 10px;
      max-height: 20px;
      min-height: 20px;
      min-width: 200px;
      max-width: 200px;
      font-size: 15px;
      border-radius: 10px;
      margin-left: 50px;
    }

    .select-filter {
      margin-left: 10px;
      padding: 10px;
      border-radius: 10px;
      font-size: 15px;
      width: 160px; /* Add this fixed width */
    }

    .remove-btn{
      background-color: #ffffff;
      font-size: 18px;
      padding: 5px;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }

    h2 {
      font-size: 26px;
      margin: 20px 0;
      text-align: center;
    }
    h2 small {
      font-size: 0.5em;
    }

    .table-over{
      max-height: 700px;
      overflow-y: auto;
    }

    .responsive-table li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
      
    }
    .responsive-table .table-header {
      background-color: #95A5A6;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    .responsive-table .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }
    .responsive-table .col-1 {
      flex-basis: 10%;
      margin-right: 20px;
    }
    .responsive-table .col-2 {
      flex-basis: 40%;
      margin-right: 50px;
    }
    .responsive-table .col-3 {
      flex-basis: 25%;
      margin-right: 20px;
    }
    .responsive-table .col-4 {
      flex-basis: 25%;
      margin-right: 20px;
    }
    .responsive-table .col-5 {
      flex-basis: 25%;
      margin-right: 20px;
    }
    .responsive-table .col-6 {
      flex-basis: 25%;
      margin-right: 20px;
    }
    @media all and (max-width: 767px) {
      .responsive-table .table-header {
        display: none;
      }
      .responsive-table li {
        display: block;
      }
      .responsive-table .col {
        flex-basis: 100%;
      }
      .responsive-table .col {
        display: flex;
        padding: 10px 0;
      }
      .responsive-table .col:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
      .select-filter {
        width: 100%; /* Change the width to 100% */
        margin-left: 0; /* Remove the left margin */
        margin-top: 10px; /* Add margin-top to separate from the input */
      }
    }